__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.mo
*.db
*.py~  # editor backups

.env
*.env

.vscode/
.idea/

*.iml

venv/
env/
ENV/
.venv/
.ENV/

Pipfile.lock

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytest_cache/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

staticfiles/
static/
media/

node_modules/
npm-debug.log

build/
dist/
*.egg-info/
.eggs/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

local_settings.py
