<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме-білдер</title>
</head>
<body>
    <nav>
        <a href="/">Головна</a> |
        <a href="{% url 'resume:create_resume' %}">Створити резюме</a> |
        <a href="{% url 'announcement:announcement_list' %}">Оголошення</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:view_profile' %}">Профiль</a> |
            <a href="{% url 'accounts:logout' %}">Вихiд</a> |
        {% else %}
            <a href="{% url 'accounts:signup' %}">Реєстрація</a> |
            <a href="{% url 'accounts:login' %}">Вхiд</a> |
        {% endif %}
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
