{% extends 'base/base.html' %}

{% block content %}
  <div style="display: flex; gap: 30px;">

    <!-- Левая карточка -->
    <div style="flex: 1; background: #3a3f51; color: #f0f0f0; padding: 25px; border-radius: 12px;">
      {% if resume.first_name or resume.last_name %}
        <h2 style="margin-bottom: 15px; font-size: 1.8rem; color: #ffffff; font-weight: bold;">
          {{ resume.first_name }} {{ resume.last_name }}
        </h2>
      {% endif %}
      {% if resume.age %}
        <p style="margin-bottom: 8px; opacity: 0.9;">🎂 {{ resume.age }} років</p>
      {% endif %}
      {% if resume.phone %}
        <p style="margin-bottom: 8px; opacity: 0.9;">📞 {{ resume.phone }}</p>
      {% endif %}
      {% if resume.email %}
        <p style="margin-bottom: 8px; opacity: 0.9;">✉️ {{ resume.email }}</p>
      {% endif %}
      {% if resume.address %}
        <p style="margin-bottom: 8px; opacity: 0.9;">📍 {{ resume.address }}</p>
      {% endif %}
    </div>

    <!-- Правая секция -->
    <div style="flex: 2; font-size: 1.1rem;">
      {% if resume.activity %}
        <h3 style="color: #003366;">💼 {{ resume.activity }}</h3>
      {% endif %}
      {% if resume.experience %}
       <p><strong>Досвід:</strong>
        {% if resume.experience %}
          {{ resume.experience }} {{ resume.experience|pluralize:"рік,роки,років" }} досвіду
        {% else %}
          Немає даних
        {% endif %}
      </p>
      {% endif %}
      {% if resume.education %}
        <p><strong>Освіта:</strong><br>{{ resume.education }}</p>
      {% endif %}
      {% if resume.about %}
        <p><strong>Про себе:</strong><br>{{ resume.about }}</p>
      {% endif %}

      {% if not show_edit_panel %}
        {% if not pdf %}
          {% include 'resume/components/save_and_edit_button.html' %}
        {% endif %}
      {% endif %}
    </div>
     {% if not pdf %}
        <a href="{% url 'resume:download_resume_pdf' resume.id %}" class="btn btn-primary">
          Завантажити PDF
        </a>
        <a href="{% url 'resume:download_resume_docx' resume.id %}" class="btn btn-primary">
          Завантажити DOCX
        </a>
      {% endif %}
  </div>

  {% if show_edit_panel %}
    {% if not pdf %}
      <div style="margin-top: 30px;">
        {% include 'resume/components/edit_resume.html' %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
