{% extends 'base/base.html' %}

{% block content %}
  <div style="display: grid; grid-template-columns: 1fr; gap: 25px;">

    {% if resume.first_name or resume.last_name %}
    <section style="background: #e7f0ff; padding: 20px; border-radius: 8px;">
      <h3>👤 Особисті дані</h3>
      <p>{{ resume.first_name }} {{ resume.last_name }}</p>
      {% if resume.age %}<p>Вік: {{ resume.age }}</p>{% endif %}
      {% if resume.phone %}<p>Телефон: {{ resume.phone }}</p>{% endif %}
      {% if resume.email %}<p>Email: {{ resume.email }}</p>{% endif %}
      {% if resume.address %}<p>Адреса: {{ resume.address }}</p>{% endif %}
    </section>
    {% endif %}

    {% if resume.activity %}
    <section style="background: #f5f5f5; padding: 20px; border-radius: 8px;">
      <h3>💼 Профіль</h3>
      <p>{{ resume.activity }}</p>
    </section>
    {% endif %}

    {% if resume.experience %}
    <section style="background: #fff8e1; padding: 20px; border-radius: 8px;">
      <h3>📜 Досвід</h3>
      <p><strong>Досвід:</strong>
        {% if resume.experience %}
          {{ resume.experience }} {{ resume.experience|pluralize:"рік,роки,років" }} досвіду
        {% else %}
          Немає даних
        {% endif %}
      </p>
    </section>
    {% endif %}

    {% if resume.education %}
    <section style="background: #e0f8e0; padding: 20px; border-radius: 8px;">
      <h3>🎓 Освіта</h3>
      <p>{{ resume.education }}</p>
    </section>
    {% endif %}

    {% if resume.about %}
    <section style="background: #ffe6ec; padding: 20px; border-radius: 8px;">
      <h3>🧠 Про себе</h3>
      <p>{{ resume.about }}</p>
    </section>
    {% endif %}
     {% if not pdf %}
        <a href="{% url 'resume:download_resume_pdf' resume.id %}" class="btn btn-primary">
          Завантажити PDF
        </a>
        <a href="{% url 'resume:download_resume_docx' resume.id %}" class="btn btn-primary">
          Завантажити DOCX
        </a>
      {% endif %}
    {% if not show_edit_panel %}
      {% if not pdf %}
        <div>
          {% include 'resume/components/save_and_edit_button.html' %}
        </div>
      {% endif %}
    {% endif %}

    {% if show_edit_panel %}
      {% if not pdf %}
        <div>
          {% include 'resume/components/edit_resume.html' %}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
